

.bookImg{
    width: 112px;
    height: 160px;
    object-fit: contain;
    position: relative;
    float: left;
    vertical-align: middle;
    margin-left: 24px;
    margin-top: 32px;
  }

  .bookDetails{
    height: 181px;
    margin-left: 176px;
    margin-top: 43px;
    position: relative;
  }

.removeBtn{
    position: absolute;
    bottom: 40px;
    left: 0;
}

.removeBtn:hover{
    cursor: pointer;
}

.bookName{
    font-size: 16px;
    text-align: left;
    color: #2a2c2e;
}


.wishDiv {
    position: relative;
    text-align: center;
    width: 485px;
    height: 224px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4.4px;
    box-shadow: 0 3px 8px 0 rgba(172, 181, 185, 0.4);
    background-color: #ffffff;
    border: solid 0.8px rgba(207, 216, 220, 0.2);
  }

  .block-with-text {
    overflow: hidden;
    line-height: 1.2em;
    max-height: 2.4em; 
    text-align: justify;  
    padding-right: 1em;
    width: 280px;
  }
  
  
  .bookAuthor{
    position: absolute;
    color: #78909c;
    font-size: 16px;
  }

  .Desktop-wishList{
    width: 1024px;
    height: 624px;
    background-color: #ffffff;
    border:1px solid gray;
    margin: auto;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}  
.Desktop-wishList::-webkit-scrollbar { 
    display: none; 
}