

.topBar{
    width: 100%;
    height: 40px;
    position: relative;
}

.topBarBottom {
    width: 1024px;
    height: 1px;
    background-color: #e8e8e8;
  }

  .userIcon{
      position: absolute;
      right: 20px;
      width: 18px;
      height: 24px;
      object-fit: contain;
      opacity: 0.5;
      margin-top: 10px;
    
  }

  .heartIcon{
      position: absolute;
      right: 59px;
      width: 24px;
      height: 20px;
      object-fit: contain;
      opacity: 0.5;
      margin-top: 10px;
  }